<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Site</th>
          <th>Model</th>
          <th>Serial</th>
          <th>Notes</th>
          <th>Mac Address</th>
          <th>Image?</th>
        </tr>
      </thead>

      <tbody>
        <% devices.each do |device| %>
          <tr class="clickable" href="<%= device_path(device) %>">
            <td><%= device.site.abbr.upcase %></td>
            <td><%= device.product.truncate(20) %></td>
            <td><%= device.serial %></td>
            <td><%= device.notes.try(:truncate, 30) %></td>
            <td><%= device.mac_address %></td>
            <td>
              <% if device.image_id.present? %>
              <i class="fa fa-check-circle"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>