<div class="row">
  <div class="large-12 columns">
    <h2>All Devices</h2>
    <table>
      <thead>
        <tr>
          <th>Site</th>
          <th>Make</th>
          <th>Model</th>
          <th>Mac Address</th>
          <th>Ops</th>
        </tr>
      </thead>

      <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><%= device.site.abbr.upcase %></td>
            <td><%= device.make %></td>
            <td><%= device.product %></td>
            <td><%= device.mac_address %></td>
            <td>
              <ul class="button-group" style="margin:0">
                <li><%= link_to 'view', device, class: 'tiny button' %></li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>