<div class="row">
  <div class="large-12 columns">
    <h3><%= @device.best_name %></h3>
    <div class="meta">
      <%= link_to @device.site.name, @device.site %> | 
      <%= @device.created_at.strftime('%b %e, %Y %l:%m%p ') %>
    </div>
    <hr>
  </div>
</div>
  
<div class="row">
  <div class="medium-3 columns">
    <div class="panel">
      <%= form_for @device do |f| %>
        <%= f.label :site_id do %>
          Site
          <%= f.select :site_id, @site_map, include_blank: 'none' %>
        <% end %>
        <%= f.label :image_id do %>
          Image
          <%= f.select :image_id, @image_map, include_blank: 'none' %>
        <% end %>
        <%= f.submit 'update', class: 'tiny button' %>
      <% end %>
    </div>
    
    <ul class="side-nav">
      <% if @device.htmlfile.present? %>
      <li class="divider"></li>
      <li><%= link_to 'Populate from XML', parse_device_path(@device), method: :put %></li>
      <li><%= link_to 'View raw data', @device.htmlfile.url %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to 'Delete', @device, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    
    <hr>
    

    
  </div>
    
  <div class="medium-6 columns">
    
    <table>
      <tr>
        <td>Manufacturer</td>
        <td><%= @device.make %></td>
      </tr>
      <tr>
        <td>Product</td>
        <td><%= @device.product %></td>
      </tr>
      <tr>
        <td>RAM</td>
        <td><%= @device.ram %></td>
      </tr>
      <tr>
        <td>CPU</td>
        <td>
          <%= @device.cpu %> 
          <%= @device.cpu_speed %> Mhz
        </td>
      </tr>
      <tr>
        <td>Mac Address</td>
        <td><%= @device.mac_address %></td>
      </tr>
      <tr>
        <td>UUID</td>
        <td><%= @device.uuid %></td>
      </tr>
    </table>
    
    
    <h4>RAM</h4>
    <table>
      <tr>
        <% @device.banks.size.times do |i| %>
        <th><%= i %></th>
        <% end %>
      </tr>
      <tr>
        <% @device.banks.each do |pos, bank| %>
        <td><%= bank['size'] || "empty" %></td>
        <% end %>
      </tr>
    </table>
    
    <h4>Notes</h4>
    <%= form_for @device do |f| %>
      <div class="field">
        <%= f.text_area :notes, placeholder: 'Notes' %>
      </div>
    <%= f.submit 'update notes', class: 'tiny button' %>
    <% end %>
    
    
  </div>
  
  <div class="medium-3 columns">
    
    <% if @device.image.nil? %>
    
    <div class="panel">
      You must set the image for this device before
      you can start a task.
    </div>
    
    <% elsif @device.active_task? %>
    
    <div class="panel">
      <p>Currently waiting for <%= @device.tasks.find_by(state: 'active').job %> to complete.</p>
    </div>
    
    <% else %>
    
    <%# render partial: 'create_task', locals: {device_id: @device.id, job: 'deploy'} %>
    <%# render partial: 'create_task', locals: {device_id: @device.id, job: 'upload'} %>
    
      <%= form_for Task.new, url: push_tasks_path do |f| %>
        <%= f.hidden_field :device_id, {value: @device.id} %>
        <%= f.hidden_field :job, {value: 'deploy'} %>
        <%= f.submit 'Deploy', class: 'expand button' %>
      <% end %>
      
      <%= form_for Task.new, url: push_tasks_path do |f| %>
        <%= f.hidden_field :device_id, {value: @device.id} %>
        <%= f.hidden_field :job, {value: 'upload'} %>
        <%= f.submit 'Upload', class: 'expand button' %>
      <% end %>
    
    <% end %>
    
    <h4>Task history</h4>
    
    <% if @tasks.any? %>
    
    <ul class="task-history">
      <% @tasks.each do |task| %>
      <li class="task">
        <b class="task-job"><%= task.job %></b><br>
        <span class="task-time"><%= task.updated_at.to_s(:short) %></span>
        <span class="task-state task-<%= task.state %>"><%= task.state %></span>
        <% if task.active? %>
        <span class="task-cancel">
          <%# link_to_cancel(task) %>
          <%= link_to 'Cancel', push_task_path(task), {method: :delete, confirm: 'Cancel this task?', class: 'tiny alert button'} %>
        </span>
        <% end %>
      </li>
      <% end %>
    </ul>
    
    <% else %>
    
    <p>No task history yet.</p>
    
    <% end %>
    
  </div>
    
</div>