<h1>Listing servers</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Ip addr</th>
      <th colspan="2">Ops</th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.role %></td>
        <td><%= server.ip_addr %></td>
        <td><%= link_to 'Edit', edit_admin_site_server_path(@site, server) %></td>
        <td><%= link_to 'Destroy', [:admin, @site, server], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_admin_site_server_path %>
