<!DOCTYPE html>
<html>
<head>
  <title>Tory</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if flash.any? %>
  <div class="messages">
    <% flash.each do |k,v| %>
    <div class="alert-box <%= k %>">
      <%= v %>
    </div>
    <% end %>
  </div>
  <% end %>
  
  <%= render 'layouts/nav' %>

  <div class="content">
    <div class="row">
      <div class="medium-3 columns">
        <ul class="side-nav">
          <li><%= link_to 'Manage Sites', admin_sites_path %></li>
          <li><%= link_to 'Manage Users', admin_users_path %></li>
        </ul>
      </div>
      <div class="medium-9 columns">
        <%= yield %>
      </div>
    </div>
  </div>
  

</body>
</html>
